:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #0f0f0f;
    background-color: #f6f6f6;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html,
body,
#root,
.radix-themes {
    height: 100%;
    width: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.rt-TextFieldInput:where(.rt-variant-surface) + :where(.rt-TextFieldChrome) {
    background-color: transparent;
}

:where(.rt-TextFieldInput:focus) + .rt-TextFieldChrome {
    outline: unset;
}
